@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;

  font-family: Inter, Avenir, Helvetica, sans-serif;
  font-size: clamp(0.8rem, 1vw, 1rem); 
  font-weight: 500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}

html {
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  color: #f1f1f1;
  background: #080808;
}

button:focus,
a:focus,
button:focus-visible,
a:focus-visible {
  outline: 0ch;
  --tw-ring-offset-width: 0px !important;
}